{% extends 'Index.html' %}

{% block content %}

    <h1>News</h1>
    <p><a href="/news/form.html" class="btn btn-primary">Add new article</a></p>

    {% if not news | length %}
        <p class="alert alert-info">No news found</p>
    {% else %}
        {% for article in news %}
            <div class="panel panel-default">
                <div class="panel-heading"><a href="/news/{{ article.id }}.html">{{ article.title }}</a></div>
                <div class="panel-body">
                    <img src="{{ article.image }}" class="pull-left" style="margin: 0 15px 15px 0" />
                    <p>{{ article.text }}</p>
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}
