{% extends 'Index.html' %}

{% block content %}

    <h1>Products in category "{{ item.title }}"</h1>

    {% if products.count > 0 %}
    <table class="table table-responsive table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.pk }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.price | number_format(2, '.', ' ') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p class="alert alert-info">No products found in this category</p>
    {% endif %}
{% endblock %}
